*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(tela-login.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 450px;
    background-color: green;
    border-radius: 0px 90px 0 90px;
    padding: 50px 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    transform: translateY(60%);
    flex-direction: column;
    box-shadow: 5px 5px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn{
    margin-top: 20px;
    border-radius: 25%;
    padding: 5px 5px;
    background-color: limegreen;
    box-shadow: 5px 5px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.paragraph{
    margin-top: 10px;
}
.paragraph2{
    margin-top: 2px;
}
.link{
    text-decoration: none;
    align-items: center;
    margin-top: 10px;
    border: 1.5px solid green;
    border-radius: 20px 0 20px 0;
    background-color: limegreen;
    padding: 5px;
    color: black;
    box-shadow: 2.5px 2.5px;
}
.link:hover{
    transform: scale(10s);
}